* {
  box-sizing: border-box;
}

body {
  font-family: 'Albert Sans';
  padding: 20px;
  background: #f1f1f1;
}

.container {
  position: relative;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  position: relative;
  background-color: #c88232;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #e9a75b;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #0077B5;
  color: white;
}

.fa-pinterest {
  background: #BD081C;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
/* .bio-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
} */

.bio-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.bio-card img {
  grid-row: 1 / span 3;
  max-width: 100%;
  border-radius: 50%;
}

.bio-card h2 {
  margin: 0;
  font-size: 24px;
}

.bio-card p {
  margin: 0;
}

.bio-card .company {
  color: #888;
}

.bio-card .title {
  font-style: italic;
}

.bio-card .bio {
  grid-column: 1 / span 2;
}
